*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-color: #111111;
    --second-bg-color: #151515;
    --text-color:rgb(223, 213, 213);
    --main-color: #04fffb;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--text-color)
    fontw 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}
.box  
{  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100vw;  
    height: 100vh;  
    overflow: hidden;  
    display: flex;  
    justify-content: flex-end;  
}  

.box .group  
{  
    position: relative;  
    display: flex;  
    flex-direction: column;  
    gap: 1em;  
}  
.iconContainer  
{  
    display: flex;  
    gap: 0.5em;  
    font-size: 4em;  
    width: 200vw;  
    animation: animate 80s linear infinite;
}  
@keyframes animate{
    0%,100%{
        transform: translateX(-100vw);
    }
    50%{
        transform: translateX(0vw);
    }
}

.iconContainer:nth-child(even){
    animation: animate2 80s linear infinite;
} 

@keyframes animate2{
    0%,100%{
        transform: translateX(0vw);
    }
    50%{
        transform: translateX(-100vw);
    }
}

.iconContainer i  
{ 
    cursor: default;  
    user-select: none;  
    transition: 2s;  
    color: transparent;  
    opacity: 0.35;  
    -webkit-text-stroke: 1px var(--main-color);  
}  
.iconContainer i:hover  
{  
    color: var(--main-color);  
    transition: 0s;  
    -webkit-text-stroke: 1px transparent;  
    opacity: 1;  
    text-shadow: 0 0 120px var(--main-color);  
}  
    
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color:var(--main-color);
}
.home-content{
    background: #111111d5;
    position: relative;
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content p{
    font-size: 7rem;
    font-weight: 700;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: justify;
    line-height: 1;
    width: 90%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 22vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color)
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background:transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--bg-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    overflow: hidden;
}

.text-animation::before {
    content: "Team-Oriented";
    color: var(--main-color);
    overflow: hidden;
    animation-name: mywordchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}


@keyframes mywordchange{
    0% { content: "Team-Oriented"; opacity: 0.5;}
    10% { content: "Team-Oriented"; opacity: 1;}
    19% { content: "Team-Oriented"; opacity: 0;}
    20% { content: "Proactive"; opacity: 0;}
    30% { content: "Proactive"; opacity: 1;}
    39% { content: "Proactive"; opacity: 0;}
    40% { content: "Responsible and Meticulous"; opacity: 0;}
    50% { content: "Responsible and Meticulous"; opacity: 1;}
    59% { content: "Responsible and Meticulous"; opacity: 0;}
    60% { content: "Organized and Results-Driven"; opacity: 0;}
    70% { content: "Organized and Results-Driven"; opacity: 1;}
    79% { content: "Organized and Results-Driven"; opacity: 0;}
    80% { content: "Structured and Reliable"; opacity: 0;}
    90% { content: "Structured and Reliable"; opacity: 1;}
    99% { content: "Structured and Reliable"; opacity: 0;}
    100% { content: "Team-Oriented"; opacity: 0;}
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
}
.about h2 span{
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}
.about-img{
    border-radius: 50%;
}
.about-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    animation: slideShow 5s infinite;
}

@keyframes slideShow{
    0% {
        background-image: url('about.png');
      }
      25% {
        background-image: url('about1.png');
      }
      50% {
        background-image: url('about2.png');
      }
      75% {
        background-image: url('about3.png');
      }
      100% {
        background-image: url('about4.png');
      }
}

.about-img img:hover{
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.heading{
    text-align: center;
    font-size: 8rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.5;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content .text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    overflow: hidden;
}

.about-content .text-animation::before {
    content: "Team-Oriented";
    color: var(--main-color);
    background-color: var(--second-bg-color);
    overflow: hidden;
    animation-name: mywordchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}
.skills{
    background: var(--bg-color);
    color: var(--text-color);
}
.skills h2{
    margin-bottom: 5rem;
    color: var(--text-color);
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.skill-box{
    background-color: var(--bg-color);
    border: var(--text-color) solid 2px;
    color: black;
    height: 250px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.skill-box:hover{
    background: var(--bg-color);
    box-shadow: 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
    color: var(--main-color);
    transform: scale(1.03);
}
.skill-box .skill-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5em;
    position: relative;
}

.skill-box .skill-infofront{
    display: flex;
    max-height: 200px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.skill-box .skill-infofront:hover {
    opacity: 0;
    transition: opacity 0.3s,visbility 0.3s;
}

.skill-box:hover .skill-info h4{
    transition: opacity 0.3s,visbility 0.3s;
    opacity: 1;
}

.skill-box:hover .skill-info p{
    transition: opacity 0.3s,visbility 0.3s;
    opacity: 1;
}

.skill-box .skill-infofront img{
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2.5rem;
}

.skill-box .skill-info h4{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    align-self: center;
    color: #04fffb;
    text-shadow: 0 0 50px var(--main-color);
    opacity: 0;
}
.skill-box .skill-info p{
    font-size: 1.1rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
    text-align: justify;
    color: var(--text-color);
    opacity: 0;
}

.timeline-wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 12% 2rem;
}

.timeline-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.heading i{
    font-size: 8rem;
}

.content-box{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 0 2rem;
    background-color: #04fffb46;
    backdrop-filter: blur(20px);
    border: 3px solid var(--text-color);
    border-radius: 1rem;
    font-size: 14px;
    transition: 0.4s ease;
    cursor: pointer;
}

.content-box:hover{
    box-shadow: 0 0 25 var(--main-color);
    border: 3px solid var(--main-color);
}

.timeline-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 5px solid var(--main-color);
}

.content-box h3{
    font-size: 1.3rem;
}

.date{
    font-size: 1.7rem;
    color: var(--main-color);
    font-weight: 700;
}



.proyect-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
    top: 0;
    left: 0;
}

.proyects{
    background: var(--bg-color);
    color: var(--text-color);
}
.proyects h2{
    margin-bottom: 5rem;
    color: var(--text-color);
}
.proyects-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 2.5rem;
}

.proyects-container a:visited,
.proyects-container a:hover,
.proyects-container a:focus,
.proyects-container a:hover, 
.proyects-container a:active{
   text-decoration: none;
   color: var(--text-color);
}

.link{
    text-decoration: none;
   color: var(--text-color);
}
.proyect-box{
    height: 400px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.proyect-box:hover{
    transform: scale(1.03);
}
.proyect-box .skill-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5em;
}
.proyect-box .proyect-info h4{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.proyect-box .proyect-info p{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
}

.contact{
    background-color: var(--second-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact h2 span{
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contactform .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-color);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height:42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition:0.3s ease;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: var(--text-color);
    border-bottom:  3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

@media(max-width:1285px){  
    .skill-box .skill-info p{
        font-size: 1.5rem;
        font-weight: 400;
        max-height: 100px;
        margin: auto;
        text-align: justify;
    }
    html{  
        font-size: 50%;  
    }  
    .skills-container{  
        padding-bottom: 7rem;  
        grid-template-columns: repeat(2,1fr);  
        margin: 0 5rem;  
    }  
    .proyects-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    .proyect-box {
        height: auto;
        margin-bottom: 4rem;
    }
    .skill-infofront img{
        width: 70px;
    }
    
}  
@media(max-width:991px){  
    header{  
        padding: 2rem 3%;  
    }  
    section{  
        padding: 10rem 3% 2rem;  
    }  
    .skills{  
        padding-bottom: 7rem;  
    }  
    .footer{
        padding: 2rem 3%;  
    }
}  

@media(max-width:895px){  
    .proyects-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }
    .proyect-box {
        height: auto;
        margin-bottom: 4rem;
    }

    .proyect-box .proyect-info {
        padding: 2em;
    }

    .proyect-box .proyect-info h4 {
        font-size: 2rem;
    }

    .proyect-box .proyect-info p {
        font-size: 1.4rem;
    }

    .proyect-box img {
        width: 100%;
    }
    #menu-icon{  
        display: block;  
    }  
    .navbar{  
        position: absolute;  
        top: 100%;  
        right: 0;  
        width: 50%;  
        padding: 1rem 3%;  
        background: rgba(0,0,0,0.9);
        backdrop-filter: blur(20px);  
        border-bottom-left-radius: 2rem;  
        border-left: 2px solid var(--main-color);  
        border-bottom: 2px solid var(--main-color); 
        display: none; 
    }  
    .navbar.active{  
        display: block;  
    }  
    .navbar a{  
        display: block;  
        font-size: 2rem;  
        margin: 3rem 0;  
        color: var(--text-color);  
    } 
    .home{  
        flex-direction: column;  
        margin: 5rem 4rem;  
    }  
    .home-content h3{  
        font-size: 2.6rem;  
    }  
    .home-content h1{  
        font-size: 8rem;  
        margin-top: 3rem;  
    }  
    .home-content p{  
        max-width: 600px;  
        margin: 0 auto;  
    }  
    .home-img img{  
        width: 56vw;  
        margin-top: 2;  
    }
    .about{  
        flex-direction: column-reverse;  
    }  
    .about-content{  
        margin: 0 2rem 4rem;  
    }  
    .about img{  
        width: 52vw;  
        margin-top: 1rem;  
        margin-bottom: 3rem;  
    }  
    .skills h2{  
        margin-bottom: 3rem;  
    }  
    .skills-container{  
        grid-template-columns: repeat(1,1fr);  
    }  
}
